/***** Google Font *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/***** Global rules *****/

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: #202020;
  /* overflow-x: hidden; */
}


.flex {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.border {
  border: 2px solid red
}

.container{
  display: flex;
}

@media (max-width:1250px) {
  .container{
    flex-direction: column;
  }
}